.gridsinbordes>tbody>tr{
    border: none !important;
}
.gridsinbordes>tbody>tr>td{
    border: none !important;
}


#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: absolute;
    background-color: white;
    padding: 5px;
}

.left_content {
    position: absolute;
    width: 1000px;
    background-color: transparent;
    padding: 5px;
    margin-left: 22%;
    text-align: center;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}


/*programacion css de menu lateral */

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 280px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }
    

    nav.sidebar .navbar-nav > form>li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > form>li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>form>li>a {
      color: #777;
    }
    
    

    /*menu lateral medidas*/
    nav.sidebar{
      position: relative;
      width: 20%;
      height: 100%;
      margin-left: -160px;
      float: left;
      
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 10px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    /*menu izquierdo de opciones de gestion*/
    nav.sidebar{
      margin-left: 25px;
      margin-top: 3px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>form>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>form>li>a:focus {
    color: black;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
  .derechaIcon{
      margin-right: 0%;
  }
  
  /*arreglo para menu lateral */
  
  
  a:link, a:visited 
  {
    font-family: Helvetica;
    color: #3B3D3F;
  }
  
  
  ul>form>li>a:link{
      font-size: 15px;
      text-decoration: none;
  }
  
  ul>form>li:hover {
      color: black;
      background:#e5e5e5;
      border-top: 2px #e5e5e5 solid;
  }
  
  
 
  .menuDer{
    list-style-type: none;
    margin: 0;
    padding: 0 0 20px 0;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
  }
  
  .ajustarMenuDer{
      float: right;
      margin-top: 40px;
      margin-left: 30px;
      font-weight: bold;
      font-size: 17px;
      
  }
  
#logoU {
    background: url(../images/logo-unicauca2.png) no-repeat;
    width: 188px;
    height: 92px;
    float: left;
    margin-right: 10px;
}

#banderaHeader {
    background: url(../images/bandera-head-int.png) no-repeat;
    width: 195px;
    height: 102px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}


header.interno {
    height: 102px;
    display: block;
    background: url(../images/back-header-int1.png) no-repeat center;
    background-size: 100%;
    background-color: #0C3664;
    margin: 0;
    position: relative;
}


  
  

