/* Button */
.ui-button-text-icon-left .ui-button-text {
  font-size: 0.8em;
  padding: 0.2em;
}

/* Icon */
.ui-button-text-icon-left .ui-icon {
  display: none;
}

.ui-fileupload-buttonbar {
  background: none;
  border: 0;
  padding: 0;  
}
 

.ui-fileupload-choose.ui-button {
  margin-right: 40px;
}

body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 0px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    /*border-bottom: 1px solid #AFAFAF;  quitar para todos */ 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}
    
  
    
    
  



 

/*a:link:hover, a:visited:hover  { sive para subrayar enlace 
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}*/

/*ocultar componentes */

.ocultar
{
   display:none; 
}

/* css que arregla el login */

.contenedorExterior {
    display: table;
    width: 100%;
    height: 150%;
    overflow: hidden;
}
.contenedorExterior .contenedorInterior {
    display: table-cell;
    vertical-align: middle;
    width: 200%;
    margin: 0 auto;
    text-align: center;
}
.elemento {
    background: url("../images/hojas.png") no-repeat;
    width: 370px;  /*tamanho de la imagen de las hojas*/
    height: 354px;
    margin:0px auto;
}

.centrarElementosPanel{
    align-items: center;
    justify-content: center;
    display: flex;
    vertical-align: auto;
    flex-direction: column;
    margin-top: 10%; /*modificar cuando se agregue un encabezado a la pagina*/
    height: 354px; /*tamanhio de la altura de la imagen de las hojas*/
}

.userNameClass{
    background: url(../images/user.png) no-repeat !important; 
    padding-left: 40px; /*donde quiero que comience el texto*/
    height: 28px; /*la altura del icono para que concuerde con la caja de texto*/
    border-radius: 5px; /*el radio del input para que no se vea tan feo*/
    border: 2px solid #DBDBDB; /*color del borde del input*/
    color: #AEAEB7; /*color del texto del input*/
    font-size: medium; /*tamanio de letra del input*/
}

.userPasswordClass{
    background: url(../images/contra.png) no-repeat !important;
    padding-left: 40px; /*donde quiero que comience el texto*/
    height: 28px; /*la altura del icono para que concuerde con la caja de texto*/
    border-radius: 5px; /*el radio del input para que no se vea tan feo*/
    border: 2px solid #DBDBDB; /*color del borde del input*/
    color: #AEAEB7; /*color del texto del input*/
    font-size: medium; /*tamanio de letra del input*/
}

.textLogin{
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 200px;
    padding-top: 6%;
    font-size: 15px;
}

.textRegresar{
    color: white;
    font-weight: lighter;
    text-align: center;
    padding-left: 0px;
    padding-top: 6%;
    font-size: 30px;
}

.textIniciarSesion{
    color: #0D4185;
    font-size: 15px;
}

.encabezado{
    width: 376px;  /*tamanho de la imagen de las hojas*/
    height: 92px;
    margin: 0px auto;
}
.imagenLogoUnicauca{
    background: url("../images/logo.png") no-repeat;    
    width: 450px;  /*tamanho de la imagen de las hojas*/
    height: 92px;
    margin:0px auto;
    vertical-align: middle;
}


.botonInicioSesion{
    border: none !important;
    background: url(../images/btn-ingresar.png) no-repeat !important;
    width: 100px !important;
    height: 37px !important;
    margin: 0 auto 10px !important;
    display: block !important;
    color: #555555 !important;
    font-size: 12px !important;
    box-shadow: none !important;
    
}

.botonRegresar{
    width: 100px !important;
    height: 20px !important;
    margin: 0 auto 10px !important;
    display: block !important;
    color: #555555 !important;
    font-size: 12px !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-decoration:none; 
    border-radius: 20px;
    padding: 10px 16px;
    background-color: #e7e7e7; 
    border: #555555;
}

.botonRegresar:hover{
    color: #555555 !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #FFFFFF;
    border: 2px solid #e7e7e7;
}

/* cuadrar componentes */

.addEspacio{
    margin-bottom: 10px;    
}


.bajarGrid
{   
    margin-top: 15px; 
    margin-right: 400px;
}

.primeracolumna{
    height: 10px;
}
.segundacolumna{
    height: 20px;
}
.terceracolumna{
    height: 10px;
}

.tamBotones{
    height: 10px;
    width: 15px;
    font-size: 8px;
}
#bandera{
background: url(../img/bandera.png) no-repeat;
    width: 345px;
    height: 130px;
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0
}
#antorcha{
    position: fixed;
    position: fixed;
    z-index: -1;
    background: url(../img/antorcha.png) no-repeat;
    height: 592px;
    right: 15%;
    top: 0;
    width: 251px;
}



table thead {
  background-color: white;
}

thead {  
  background-color: white;
}

