 /*Hide the advanced buttons and progress*/
.ui-fileupload-upload, .ui-fileupload-cancel, .ui-fileupload-progress{
    display: none;
}

/*Move the file name and size of file onto same line*/
.ui-fileupload-buttonbar, .ui-fileupload-content{
    float: left;
}

/*Remove some of the margin from the file name to align correctly*/
.ui-fileupload-files{
    margin: 0;
}



.elementosCentrados{
    margin: auto;
    text-align: left;
}

.btn_listaEstudiantes{
    float: left;
    margin-left: 3px;
   /* height: 10px;
    width: 15px;
    font-size: 8px;*/
}

.izquierdaCancelar{
    text-align: left;
}

/***** Generales *****/
body {
	background: url("../images/background.png") no-repeat;  /* defino imagen de fondo para la plantillas*/
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: #0D4185 !important;
	background-size: 100%;
	font-family: Arial, sans-serif !important;
}
h3, h5 {
	font-family: "Vegur", "Arial Narrow", Arial, sans-serif !important;
	margin: 0 !important;
	font-weight: normal !important;
}

#txt_nomusu
{
    margin-top: 1%;
    margin-left: 70px;
    font-weight: bold;
}

#btn_salir {
    margin-top: 1%;
    margin-right: 0px;
    font-weight: bold;
}

#logo_salir
{
    margin-top: 12%;
    font-weight: bold;
    margin-right: 0px;   
}

#logo_usu{
    margin-top: 12%;
    font-weight: bold;
    margin-left: 30px; 
}



#logo_unicaua
{
    margin-left: 30%;
}

#titulo {
   
    margin-top: 5%;
    margin-left: 15%;
    font-weight: bold;
    font-size: 28px;
    width: 650px;
    
}

#antorcha {
	position: fixed;
	z-index: -1;
	background: url("../images/antorcha.png") no-repeat;
	height: 592px;
    right: 15%;
    top: 0;
    width: 251px;
}
#bandera {
	/*background: url("../images/bandera.png") no-repeat;
	width: 345px;
	height: 130px;
	bottom: 0;
	left: 0;*/
	background: url("../images/bandera.png") no-repeat;
	width: 345px;
	height: 130px;
	position: fixed;
	z-index: -1;
	left: 0;
	bottom: 0;
}
#general {
	margin: auto auto 20px auto;
	display: table;
}

/***** Header *****/
header {
	display: table !important;
	margin: 0px auto 5px !important;
}
header .separador {
	background: url("../images/barra.png") no-repeat;
	width: 2px;
	height: 40px;
	float: left;
	margin: 25px 10px 0 0;
}
	#logoU {
		background: url("../images/logo.png") no-repeat;
		width: 188px;
		height: 92px;
		float: left;
		margin-right: 10px;
	}
	#desc {
		font-size: 16px;
		font-weight: bold;
		line-height: 17px;
		color: #FFFFFF;
		padding-top: 27px;
    	width: 235px;
    	float: left;
	}

/***** Comunicados *****/
#comunicados {
	float: left;
	margin: 35px 20px 0 0;
}
#comunicados .comunicado {
	width: 296px;
	/*height: 106px;*/
	background-color: rgba(255,255,255,0.2);
	display: block;
	margin-bottom: 10px;
	padding: 10px;
}
	#comunicados .comunicado .alerta, #comunicados .comunicado .restriccion,
	#comunicados .comunicado .informacion,
	#comunicados .comunicado .noticia
	{
		padding: 10px;
		min-height: 80px;
	}
	#comunicados .comunicado .alerta {
		width: 269px;
		/*height: 76px;*/
		border: 4px solid #FFFFFF;
		/*background: url("../images/back-comu-i.png") no-repeat;*/
		background: #F6E9CF;
		
	}
		#comunicados .comunicado .alerta .icoAlerta {
			background: url("../images/ico-alert.png") no-repeat;
			width: 75px;
			height: 68px;
			float: left;
			margin-right: 10px;
		}
		#comunicados .comunicado .alerta h5 {
			font-size: 15px;
			line-height: 16px;
    		margin-bottom: 5px;
    		color: #3F2007;
		}
		#comunicados .comunicado .alerta p {
			font-size: 12px;
			line-height: 14px;
			color: #A47015;
		}
			#comunicados .comunicado .alerta p a{
				font-size: 12px;
				line-height: 14px;
				color: #A47015;
				text-decoration: underline;
			}
	#comunicados .comunicado .restriccion {
		width: 269px;
		/*height: 76px;*/
		border: 4px solid #FFFFFF;
		/*background: url("../images/back-comu-ii.png") no-repeat;*/
		background: #FCDEDC;
	}
		#comunicados .comunicado .restriccion .icoStop {
			background: url("../images/ico-stop.png") no-repeat;
			width: 80px;
			height: 80px;
			margin-right: 10px;
			float: left;
			margin-right: 10px;
		}
		#comunicados .comunicado .restriccion h5 {
			font-size: 15px;
			line-height: 16px;
    		margin-bottom: 5px;
    		color: #530A06;
		}
		#comunicados .comunicado .restriccion p {
			font-size: 12px;
			line-height: 14px;
			color: #DF5F58;
		}
			#comunicados .comunicado .restriccion p a {
				font-size: 12px;
				line-height: 14px;
				color: #DF5F58;
				text-decoration: underline;
			}
	
	/* DUX Clases y ids nuevos para un aviso informativo */
	
	#comunicados .comunicado .informacion {
		width: 269px;
		/*height: 76px;*/
		border: 4px solid #FFFFFF;
		/*background: url("../images/back-comu-ii.png") no-repeat;*/
		background: #e4ecf4;
	}
		#comunicados .comunicado .informacion .icoInfo {
			background: url("../images/ico-info.png") no-repeat;
			width: 80px;
			height: 80px;
			margin-right: 10px;
			float: left;
			margin-right: 10px;
		}
		#comunicados .comunicado .informacion h5 {
			font-size: 15px;
			line-height: 16px;
    		margin-bottom: 5px;
    		color: #143b85;
		}
		#comunicados .comunicado .informacion p {
			font-size: 12px;
			line-height: 14px;
			color: #1368bd;
		}
			#comunicados .comunicado .informacion p a {
				font-size: 12px;
				line-height: 14px;
				color: #1368bd;
				text-decoration: underline;
			}


	#comunicados .comunicado .noticia {
		width: 269px;
		/*height: 76px;*/
		border: 4px solid #FFFFFF;
		/*background: url("../images/back-comu-ii.png") no-repeat;*/
		background: #d7dbdc;
	}
		#comunicados .comunicado .noticia .icoNoticia {
			background: url("../images/ico-noticia.png") no-repeat;
			width: 52px;
			height: 29px;
			margin-right: 10px;
			float: left;
			margin-right: 10px;/**/
			position: relative;
			top: -25px;
			left: -10px;
			margin-bottom: -15px;
		}
		#comunicados .comunicado .noticia h5 {
			clear: both;
			font-size: 15px;
			line-height: 16px;
    		margin-bottom: 5px;
    		color: #333333;
		}
		#comunicados .comunicado .noticia p {
			font-size: 12px;
			line-height: 14px;
			color: #666666;
		}
			#comunicados .comunicado .noticia p a {
				font-size: 12px;
				line-height: 14px;
				color: #666666;
				text-decoration: underline;
			}



/***** Redes Sociales *****/
#redesSociales {
	margin: auto;
	display: table;
}
#redesSociales ul li {
	float: left;
	margin-right: 10px;
}
#redesSociales ul li a:link, #redesSociales ul li a:visited {
	width: 40px;
	height: 40px;
	display: block;
}
#redesSociales ul li a.twitter {
	background: url("../images/ico-redes.png") 0% 0% no-repeat;
}
#redesSociales ul li a.facebook {
	background: url("../images/ico-redes.png") 50% 0% no-repeat;
}
#redesSociales ul li a.flickr {
	background: url("../images/ico-redes.png") 100% 0% no-repeat;
}

/***** Login *****/
#login {
	background: url("../images/back-login.png") no-repeat;
	padding: 35px 20px 0;
    width: 330px;
    display: inline-block;
    height: 344px; /* DUX para acomodar el tamaño del div, que lucía terrible. */
    margin-top: 25px; /* DUX Para que quede alineado con el comunicado superior. */
}
#login h3, #login form {
	display: table !important;
	margin: auto !important;
}
#login h3 {
	font-size: 16px;
	color: #26467E;
	/*margin-top: -10px !important; /* DUX Para que quepa el texto de sesión finalizada más abajo */
}
#login form input {
	border: 2px solid #E5E5E8 !important;
	font-size: 14px !important;
	color: #999999 !important;
	height: 18px !important;
	padding-left: 40px !important;
	width: 180px !important;
	height: 22px !important; /* DUX para el tamaño de los inputs */
}
	#userName {
		background: url("../images/ico-usuario.png") no-repeat;
	}
	.userNameClass {
		background: url("../images/ico-usuario.png") no-repeat !important;
	}
	#password {
		background: url("../images/ico-pass.png") no-repeat;
	}
	.passwordClass {
		background: url("../images/ico-pass.png") no-repeat !important;
	}
	#botonIngresar {
		border: none;
		background: url("../images/btn-ingresar.png") no-repeat;
		width: 100px;
		height: 36px;
		margin: 0 auto 10px;
		display: block;
		color: #555555;
		font-size: 12px;
	}
	.botonIngresarClass {
		border: none !important;
		background: url("../images/btn-ingresar.png") no-repeat !important;
		width: 100px !important;
		height: 37px !important;
		margin: 0 auto 10px !important;
		display: block !important;
		color: #555555 !important;
		font-size: 12px !important;
		box-shadow: none !important;
	}
		.botonIngresarClass:active
		{
			background-position: 0 1px !important;
		}
#logoSimca {
	background: url("../images/logo-simca.png") no-repeat;
	width: 101px;
	height: 101px;
	margin: 0 auto 10px;
}

/***** Footer *****/
footer {
	margin: auto;
	display: table;
}
footer p,
footer p a,
footer p a:hover,
footer p a:visited
{
	font-size: 16px;
	color: #FFFFFF;
}

/***** Miscelanea *****/
div.campo {
	position: relative;
}
div.error {
	background: url("../images/btn-error.png") no-repeat;
	height: 31px;
    width: 145px;
    padding-left: 15px;
    position: absolute;
}
	div.error a:link, div.error a:visited {
		width: 15px;
		height: 15px;
		display: block;
		float: left;
		background: url("../images/ico-cerrar.png") no-repeat;
		margin: 7px 10px 0 0;
	}
	div.error p {
		font-size: 14px;
		color: #FFFFFF;
		line-height: 30px;
	}
div.ayuda {
	background: url("../images/btn-ayuda.png") no-repeat;
	height: 31px;
    width: 145px;
    padding-left: 15px;
    position: absolute;
}
	div.ayuda p {
		font-size: 14px;
		color: #FFFFFF;
		line-height: 30px;
	}
div.campo div.error {
	top: 0;
	right: -165px;
}
div.campo div.ayuda {
	top: 0;
	right: -165px;
}

.clear {
	clear: both;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

	@font-face {
	    font-family: 'Vegur' !important;
	    src: url('../fonts/vegur-regular-webfont.eot');
	    src: url('../fonts/vegur-regular-webfont.eot?iefix') format('eot'),
	         url('../fonts/vegur-regular-webfont.woff') format('woff'),
	         url('../fonts/vegur-regular-webfont.ttf') format('truetype'),
	         url('../fonts/vegur-regular-webfont.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }

	    
	    
/* Other Styles, by DuX 
================================================== */

body{
	height: auto !important; /* Para corregir un problema con application.css */
}


@media all and (max-width: 979px)
/* DUX Cuando el tamaño del viewport sea 996px (se pone 979), para todos los medios.
	Poner todo lo responsive aquí adentro. */
{
	#login
	{
		background: url("../images/back-login-medium.png") no-repeat;
		width: 280px;
	}
	p.separador
	{
		display: none;
	}
	header #logoU
	{
		margin-left: 17px;
	}
	header #desc
	{
		clear: both;
		text-align: center;
		padding-top: 20px;
	}
}

.ui-selectonemenu, .ui-selectonemenu-label, .ui-inputfield
{
     /*width: 100% !important;/**/
}

.ui-selectonemenu-trigger .ui-icon
{
	margin-left: -4px;
}

.colorVer {
    
    color: #DF0101;
    
    
}

.colorDescargar {
    
    color: #DF0101;
     
}