
/*Menú*/

    .ui-accordion {
        cursor: pointer;
        position: relative;
        margin-top: 1px;
        zoom: 1;
    }

    .ui-widget{
        font-family:Lucida Grande, Lucida Sans, Arial, sans-serif;
        font-size:1.1em;
    }


