 /*Header*/

    header.separador {
        background: url(../images/barra.png) no-repeat;
        width: 2px;
        height: 40px;
        float: left;
        margin: 25px 10px 27px 0;
    }

    #logoU {
        background: url(../images/logo.png) no-repeat;
        width: 188px;
        height: 92px;
        float: left;
        margin-right: 10px;
    }

    #banderaHeader {
        background: url(../images/bandera-head-int.png) no-repeat;
        width: 195px;
        height: 102px;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
